.animationContainer {
  position: relative;
  width: 300px;
  height: 300px;
  transform: scale(0.8);
}

.brick {
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #D97706; /* amber-600 */
  border: 2px solid #9A3412; /* amber-800 */
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px 2px rgba(0, 0, 0, 0.2);
  transform-origin: center;
}

/* --- Base Structure Bricks --- */
.baseStructure {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.base1 { bottom: 0; left: 75px; }
.base2 { bottom: 0; left: 125px; }
.base3 { bottom: 0; left: 175px; }
.base4 { bottom: 25px; left: 75px; }
.base5 { bottom: 25px; left: 175px; }
.base6 { bottom: 50px; left: 100px; }
.base7 { bottom: 50px; left: 150px; }


/* --- Falling Bricks --- */
.fallingBrick {
  opacity: 0;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.falling1 {
  top: 0;
  left: 125px;
  animation-name: fall1;
  animation-delay: 1.5s;
}

@keyframes fall1 {
  0% { transform: translateY(-50px) rotate(0); opacity: 0; }
  25% { transform: translateY(125px) rotate(0); opacity: 1; }
  100% { transform: translateY(125px) rotate(0); opacity: 1; }
}

.falling2 {
  top: 0;
  left: 100px;
  animation-name: fall2;
  animation-delay: 1s;
}

@keyframes fall2 {
  0% { transform: translateY(-50px) rotate(-10deg); opacity: 0; }
  25% { transform: translateY(75px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(75px) rotate(0deg); opacity: 1; }
}

.falling3 {
  top: 0;
  left: 150px;
  animation-name: fall3;
  animation-delay: 0.5s;
}
@keyframes fall3 {
  0% { transform: translateY(-50px) rotate(10deg); opacity: 0; }
  25% { transform: translateY(75px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(75px) rotate(0deg); opacity: 1; }
}

.falling4 {
  top: 0;
  left: 125px;
  animation-name: fall4;
  animation-delay: 0s;
}
@keyframes fall4 {
  0% { transform: translateY(-50px) rotate(5deg); opacity: 0; }
  25% { transform: translateY(100px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100px) rotate(0deg); opacity: 1; }
}

.falling5 {
  top: 0;
  left: 125px;
  animation-name: fall5;
  animation-delay: 2s;
}
@keyframes fall5 {
  0% { transform: translateY(-50px) rotate(-5deg); opacity: 0; }
  25% { transform: translateY(150px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(150px) rotate(0deg); opacity: 1; }
}
