.quill {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.25em;
    transform: translateY(-2px) rotate(-45deg);
    color: hsl(var(--foreground) / 0.6);
    animation: writing 0.5s ease-in-out infinite alternate;
}

.word {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes writing {
    from {
        transform: translateY(-2px) rotate(-40deg);
    }
    to {
        transform: translateY(0px) rotate(-50deg);
    }
}
